/* Reset de estilos */
body, h1 {
    margin: 0;
    padding: 0;
    background: red;
}

/* Estilos para el título */
.title {
    background: black;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin: 20px 0;
    color: white;
}

/* Estilos para el contenedor de los Pokémon */
.pokemon-container {
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(150px, 1fr)
    );
    gap: 32px;
    
}

/* Estilos para la imagen del Pokémon y darle sombras*/
.img-container img {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px #000;
}

/* Estilos para el número del Pokémon */
.pokemon-block p {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    color: white;
}


/* Estilos para el contenedor del spinner */
#spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: fixed;
    z-index: 2;
    width: 100%;
}
/* Estilos para la alerta */
.pokemon-alert {
    background-color:rgb(197, 195, 195);
    text-align: center;
    padding: 20px;
}

/* Estilos para el encabezado */
.pokemon-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilos para la imagen */
.pokemon-image {
    background-color: red;
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pokemon-details {
    margin-bottom: 20px;
}

.type {
    display: inline-block;
    padding: 4px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.pokemon-stats {
    text-align: left;
}

.stat {
    margin-bottom: 10px;
}